body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background: rgb(122, 110, 170);
    border-radius: 8px;
}

.MuiDrawer-paper::-webkit-scrollbar {
    width: 0px;
}

.text-center {
    text-align:center;
}